* {
  box-sizing: border-box;
}

.congress-container {
  font-size: 0px;
  margin: 1px 20px;
}
.one-person {
  background-color: #c3f9bd;
  display: inline-block;
  width: 32.6%;
  /*padding: 3px;*/
  margin: 3px;
  font-size: 14px;
  vertical-align: top;
  height: 220px;
  padding: 5px 5px 15px 5px;
}

.one-person h7 {
  padding-bottom: 20px;
}
